<header class="top"> <!-- Header element -->
  <div class="headerContainer">
    <nav>
      <ul> <!-- List the social media icons with links using Font Awesome icons -->
        <li><a href="{{root}}blog.html"><i class="fa fa-paragraph"></i></a></li>
        <li><a href="{{root}}code.html"><i class="fa fa-code-fork"></i></a></li>
        <li><a href="https://bnb.cupcake.is"><i class="fa fa-chevron-up"></i></a></li>
        <li><a href="https://github.com/bnb"><i class="fa fa-github-alt"></i></a></li>
        <li><a href="https://keybase.io/bang"><i class="fa fa-eye-slash"></i></a></li>
        <li><a href="https://twitter.com/bitandbang"><i class="fa fa-twitter"></i></a></li>
      </ul>
    </nav>
    <a href="{{root}}index.html" class="logoLink"><h1 class="logo">bnb</h1></a> <!-- Link the logo back to the index of the site. -->
  </div>
</header>
