---
layout: layouts/base.njk
templateClass: tmpl-post
---
<section class="post container column">
  <h1 class="post-title serif">{{ title }}</h2>
  <sub>Originally posted on <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>{% if series %} as part {{ part }} of the <a href="{{ '/series/' + series | urlize }}">{{ seriesData[series].title }}</a> series.{% endif %}
</sub>
  {{ content | safe }}
</section>
