<section class="code-slab">
    <nav class="code-tabs">
        <ul>
            {{#each code-slablet.title}}
                <li class="code-tab">
                    {{title}}
                </li>
            {{/each}}
        </ul>
    </nav>
    <div class="content code-block-set">
        {{#each code-slablet}}
            <article class="code-block">
                {{{ contents }}}
            </article>
        {{/each}}
    </div>
</section>
