

header.top h1,
header.top h1:hover {
    border: 2px solid #b13737;
    transition: background .5s, color .5s
}
.humongous,
h1.tlh {
    text-align: center
}
header.top {
    padding: 15px 20%
}
header.top .headerContainer {
    max-width: 1000px;
    content: "";
    clear: both
}
header.top h1 {
    margin: 0;
    display: inline;
    text-decoration: none;
    background: 0 0;
    color: #b13737;
    text-transform: lowercase;
    padding: 5px 10px
}
header.top h1:hover {
    background: #b13737;
    color: #fff
}
header.top ul {
    margin: 10px;
    padding: 0;
    float: right
}
header.top li {
    display: inline;
    padding: 0 5px;
    font-size: 1.3rem
}
.humongous {
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    background-color: #f6f6f6;
    padding: 125px 10px 100px
}
.humongous .button,
.humongous .button:hover {
    border: 2px solid #b13737;
    transition: all .5s
}
.humongous .button,
.humongous .button:hover,
.humongous a.hidden:hover {
    display: inline-block;
    padding: 10px 15px
}
.humongous .hello {
    margin-top: 20px;
    margin-bottom: 3px;
    font-size: 3rem
}
.humongous .button {
    background-color: transparent;
    color: #b13737;
    text-decoration: none
}
.humongous .button:hover {
    background-color: #b13737;
    color: #fefefe
}
.humongous a.hidden {
    zoom: 1;
    filter: alpha(opacity=0);
    opacity: 0
}
.humongous a.hidden:hover {
    background-color: transparent;
    border: 2px solid #e9e9e9;
    color: #e9e9e9
}
h1.tlh span,
h2.tlh span {
    background: #fff;
    padding: 0 20px
}
h1.tlh:after,
h2.tlh:after {
    content: '';
    top: 50%;
    left: 0;
    width: 100%;
    border-bottom: 2px solid #B13737;
    display: inline-block
}
h1.tlh {
    position: relative;
    margin-top: 0
}
h1.tlh span {
    z-index: 2;
    position: relative
}
h1.tlh:after {
    position: absolute;
    z-index: 1
}
h2.tlh {
    position: relative;
    text-align: left;
    margin-top: 0
}
.socialSec a,
.wid {
    text-align: center
}
h2.tlh span {
    z-index: 2;
    position: relative
}
h2.tlh:after {
    position: absolute;
    z-index: 1
}
.wid>p {
width:40%;
margin:0 auto 5%;
}

.widItem {
float:left;
background-color:#f6f6f6;
border-top:1px solid #bebebe;
border-bottom:1px solid #bebebe;
width:33.3%;
height:20em;
border-left:#ddd;
-webkit-transition:background-color 1s;
transition:background-color 1s;
margin:0;
padding:50px;
overflow: hidden;
}

.widItem:first-child {
background-color:#fafafa;
border-right:1px solid #dbdbdb;
}

.widItem:last-child {
background-color:#f1f1f1;
border-left:1px solid #dbdbdb;
}

.widItem:hover {
background-color:#272727;
color:#fff;
}

.widItem .fa {
font-size:3em;
-webkit-transition:font-size 1s, color 1s;
transition:font-size 1s, color 1s;
}

.widItem:hover .fa {
font-size:2em;
margin-top:5px;
}

.widItem h2 {
font-size:2.2em;
-webkit-transition:font-size 1s, color 1s;
transition:font-size 1s, color 1s;
}

.widItem:hover h2 {
font-size:1.5em;
}

.widItem p {
opacity:0;
-webkit-transition:opacity 1s, color 1s;
transition:opacity 1s, color 1s;
}

.widItem .em {
opacity:0;
color: #000;
-webkit-transition:opacity 1s, color 1s;
transition:opacity 1s, color 1s;
}

.contact,
.wia {
    padding: 50px 0 100px
}

.wia {
    border-bottom: 1px solid #e9e9e9;
}
.wiaContainer {
    margin: 0 auto;
    width: 70%;
}
.contact {
    background-color: #F6F6F6;
}
.formSec,
.socialSec {
    padding: 20px 30px
}
.formSec {
    border-left: 2px solid #b13737
}
.socialSec ul {
    padding: 0
}
.socialSec li {
    list-style: none;
    margin-top: -1em
}
.socialSec li:not(:first-child) {
    margin-top: 1em
}
.socialSec a {
    display: inline-block;
    padding: 10px 15px;
    background-color: transparent;
    border: 2px solid #b13737;
    color: #b13737;
    text-decoration: none;
    width: 12em;
    transition: all .5s
}
.socialSec a.blog:hover,
.socialSec a.gh:hover,
.socialSec a.kb:hover,
.socialSec a.tent:hover,
.socialSec a.twitter:hover {
    color: #fff;
    transition: all .5s
}
.socialSec a.blog:hover {
    background-color: #db2757;
    border: 2px solid #db2757
}
.socialSec a.tent:hover {
    background-color: #08A14B;
    border: 2px solid #08A14B
}
.socialSec a.gh:hover {
    background-color: #666;
    border: 2px solid #666
}
.socialSec a.twitter:hover {
    background-color: #55acee;
    border: 2px solid #55acee
}
.socialSec a.kb:hover {
    background-color: #FF8648;
    border: 2px solid #FF8648
}
.socialSec a i {
    float: left;
    padding-right: 5px
}
.contact h1 span {
    background-color: #F6F6F6
}
@media screen and (max-width: 920px) {
    .widItem {
        width: 100%
    }
}
@media screen and (max-width: 543px) {
    blockquote {
        width: inherit
    }
}
.blog-index .cover-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-color: #EEE
}
.blog-index .cover-img h1 {
    text-shadow: 1px 1px 1px #000, 3px 3px 1px #fff
}
.blog-index .content {
    padding: .25em 0;
    margin-top: 2em
}
.blog-index .content p,
.content h1 {
    max-width: 800px;
    margin: 0 auto
}
.blog-index .humongous:not(:nth-of-type(2n)) {
    background-color: #fff
}
.blog-index .grayscale {
    max-width: 200px;
    margin: 0 auto;
    padding: 0;
    display: block
}
.blog-index .humongous h1.hello {
    font-size: 2.25em;
    margin: 0 auto;
    padding: .25em;
    max-width: 800px;
    color: #bcbcbc
}
.blog-index ul {
    margin: 0;
    padding: 0
}
.blog-index .datetime {
    padding: 0 0 1em;
    display: block
}
.code-index .code-block {
    max-width: 800px
}
.code-index .code-literal pre {
    max-width: 600px;
    max-height: 500px;
    overflow: scroll
}
.code-index .container {
    padding: .25em 0;
    margin-top: 2em
}
.code-index .container p,
.container h1 {
    max-width: 800px;
    margin: 0 auto
}
.code-index ul {
    margin: 0;
    padding: 0
}
.code-index .datetime {
    padding: 0 0 1em;
    display: block
}
.code-index .code-item {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: row
}
.code-index .code-item .code-meta {
    width: 16em;
    margin: 2em
}
.code-index .code-item .code-meta h1 {
    margin: 0 0 .5em;
    padding: 0
}
.code-index .code-item .code-block {
    max-width: 600px;
    max-height: 500px;
    flex: auto;
    overflow: scroll
}
.code-index .code-item .code-block pre {
    padding: 1em;
    line-height: `1.5em``
}

.blog-index .content,.code-index .container {
margin-top:2em;
padding:.25em 0;
}

.blog-index .content p,.content h1,.code-index .container p,.container h1 {
max-width:800px;
margin:0 auto;
}

.blog-index ul,.code-index ul {
margin:0;
padding:0;
}

.blog-index .datetime,.code-index .datetime {
display:block;
padding:0 0 1em;
}

.blog-index .no-cover h1 {
  color: #333;
  text-shadow: 2px 2px 0px rgb(200, 0, 0), 3px 3px 1px rgb(0,0,0);
  text-decoration: underline;
}

.blog-index .no-cover h1:hover {
  color: #b13737;
  text-shadow: 2px 2px 0px rgb(0,0,0), 3px 3px 1px rgb(200, 0, 0);
  text-decoration: underline;
}

.blog-index .no-cover .aboutblock {
  background-color: transparent;
  color: #333;
  padding: 1em;
  margin: 0px auto;
  max-width: 30em;
  border: 1px solid #aaa;
}

.blog-index .cover-img .aboutblock {
  background-color: rgba(238, 238, 238, 0.6);
  text-shadow: 1px 1px 1px rgb(0, 0, 0), 3px 3px 1px rgb(255, 255, 255);
  color: #fff;
  padding: 1em;
  margin: 0px auto;
  max-width: 30em;
  border: 1px solid #aaa;
}

@media screen and (max-width: 865px) {
    .wid>p {
        width: 65%
    }
    .wia .wiaItem>blockquote {
        width: 85%
    }
    h2.tlh::after {
        top: 120%;
        width: 150%;
        left: -10%
    }
    h2.tlh span {
        padding: 0 8px
    }
}
@media screen and (max-width: 610px) {
    .wid>p {
        width: 80%
    }
    .wia .wiaItem>blockquote {
        width: 90%
    }
    h2.tlh span {
        padding: 0 4px
    }
}
