<!DOCTYPE html>
<html class="code-post">
{{> html-head }}

<body>
    {{> header }}

    <div id="main">
        <div class="container">

            <article>

              <div class="code-item">
                  <div class="code-meta">
                    <h1 class="code-title">{{title}}</h1></a>
                    <span class="datetime"><time>{{posted}}</time></span>
                  </div>
                  <div class="content code-block">
                   {{ contents }}
                  </div>
                </div>
              </ul>
            </article>

        </div>
    </div>

</body>
</html>
