<html>
{{> html-head }}

<body>

    {{> header }}

    <div id="main">
        <div class="container">
          <section class="humongous">
                <h1 class="hello">&nbsp;</h1>
                <small class="subtitle">&nbsp;</small>
                <h3 class="introAbout">&nbsp;</h3>
                <a href="#wid" class="button hidden">See what I do</a>
                <a href="#wia" class="button hidden">Learn who I am</a>
            </div>
          </section>
          <section id="wid" class="wid">
              <h1 class="tlh"><span>What</span> <span>I</span> <span>do</span></h1>
        <p>I am <span class="em">developing my skills</span> right now. I'm willing to <span class="em">work on projects</span>, in any of the three areas below, that seem unique and interesting.  Contact me, and we'll see where we can go from there.</p>
              <section class="widItems">
                  <div class="widItem 1">
                      <i class="fa fa-columns"></i>
                      <div class="widItemContainer">
                          <h2>Web <span>Design</span></h2>
                          <p>I'm learning to create <span class="em">visual style</span> for web applications, both <span class="em">in the browser</span> and in graphic design programs such as PhotoShop, Illustrator, and Fireworks.</p>
                      </div>
                  </div>
                  <div class="widItem 2">
                      <i class="fa fa-wrench"></i>
                      <div class="widItemContainer">
                          <h2>Web <span>Development</span></h2>
                          <p>I'm working on <span class="em">developing skills</span> in front- and back-end environments. I'm especially interested in io.js, new HTML5 APIs, CSS3, and <span class="em">Tent libraries</span>. Oh, and <span class="em">QA</span>.</p>
                      </div>
                  </div>
                  <div class="widItem 3">
                      <i class="fa fa-paragraph"></i>
                      <div class="widItemContainer">
                      <h2>Writing <span>&</span> Social</h2>
                      <p>I'm an <span class="em">excellent</span> writer. However, I want more experience writing in a variety of situations, on a variety of topics. I <span class="em">love</span> writing docs, bug reports, and social media/blog posts.</p>
                      </div>
                  </div>
              </section>
          </section>
          <section class="portfolio">
              <!--<h1>Portfolio</h1>
              <span class="speaker">You</span><span class="timestamp">11:34PM</span>: <p>Hey! This loser doesn't have a portfolio! What a gyp!</p>
              <span class="speaker">bnb</span><span class="timestamp">11:36PM</span>: <p>Dude! I'll be putting work up when I've got some I feel is good enough to reflect my design aesthetic.</p>
              <span class="speaker">You</span><span class="timestamp">11:48PM</span>: <p>Why should I even consider you with no portfolio! I had the most interesting, useful project in the history of the Internet, but you blew it.</p>
              <span class="speaker">bnb</span><span class="timestamp">11:52PM</span>: <p>Don't leave! I'd really like to work with you on such an amazing project. Tell me what role I can play, and we can try to work something out.</p>
              <span class="timestamp">11:52PM</span> <p>*<em>You</em> has set their status to <strong>away</strong>.*</p>
              <span class="speaker">bnb</span><span class="timestamp">12:10AM</span>: <p><em>Awk</em>ward.</p>
              <span class="speaker">bnb</span><span class="timestamp">12:11AM</span>: <p>/ping You</p>
              <span class="speaker">Server</span>: <p style="color: red;">No response from You.</p>
              <span class="speaker">bnb</span><span class="timestamp">3:50AM</span>: <p>/ping You</p>
              <span class="speaker">Server</span>: <p style="color: red;">No response from You.</p>
              <span class="speaker">bnb</span><span class="timestamp">7:24PM</span>: <p>/ping You</p>
              <span class="speaker">Server</span>: <p style="color: red;">No response from You.</p>
              <span class="speaker">bnb</span><span class="timestamp">7:24PM</span>: <p>Well, I guess there nothing left to do but...</p>
              <span class="speaker">bnb</span><span class="timestamp">7:24PM</span>:<h3>SING A MOTHER EFFIN SONG!</h3>
              <span class="speaker">bnb</span><span class="timestamp">7:25PM</span>:
              <ul>
                  <li>Darling you got to let me know
                  <li>Should I stay or should I go?
                  <li>If you say that you are mine
                  <li>I'll be here till the end of time
                  <li>So you got to let me know
                  <li>Should I stay or should I go?

                  <li>It's always tease tease tease
                  <li>You're happy when I'm on my knees
                  <li>One day is fine, and next is black
                  <li>So if you want me off your back
                  <li>Well come on and let me know
                  <li>Should I Stay or should I go?

                  <li>Should I stay or should I go now?
                  <li>Should I stay or should I go now?
                  <li>If I go there will be trouble
                  <li>And if I stay it will be double
                  <li>So come on and let me know

                  <li>This indecision's bugging me
                  <li>Esta indecision me molesta
                  <li>If you don't want me, set me free
                  <li>Si no me quieres, librame
                  <li>Exactly whom I'm supposed to be
                  <li>Digame quien tengo ser

                  <li>Don't you know which clothes even fit me?
                  <li>Sabes que ropas me queda?
                  <li>Come on and let me know
                  <li>Me tienes que decir
                  <li>Should I cool it or should I blow?
                  <li>Me debo ir o quedarme?

                  <h6>Split</h6>

                  <li>Should I stay or should I go now?
                  <li>Me entra frio por los ojos
                  <li>Should I stay or should I go now?
                  <li>Me entra frio por los ojos
                  <li>If I go there will be trouble
                  <li>Si me voy va a haber peligro
                  <li>And if I stay it will be double
                  <li>Si me quedo va a ser doble
                  <li>So you gotta let me know
                  <li>Me tienes que decir
                  <li>Should I cool it or should I blow?

                  <li>Should I stay or should I go now?
                  <li>Me entra frio por los ojos
                  <li>If I go there will be trouble
                  <li>Si me voy va a haber peligro
                  <li>And if I stay it will be double
                  <li>Si me quedo va a ser doble
                  <li>So you gotta let me know
                  <li>Should I stay or should I go
              </ul>
              <span class="speaker">bnb</span><span class="timestamp">7:25PM</span>: <p>Hope to see you soon! With <3, -bnb</p>
              <span class="timestamp">7:25PM</span> <p>*<em>bnb</em> has set their status to <strong>away</strong>.*</p>-->
          </section>
          <section id="wia" class="wia clearfix">

              <h1 class="tlh"><span>Who</span> <span>I</span> <span>Am</span></h1>
              <section class="wiaContainer">
                  <section class="wiaItem">
                      <h2 class="tlh"><span>I'm</span> <span>a</span> <span>savvy</span> <span>student</span></h2>
                      <blockquote class="right">I'm working on a combined BA/MA in Communication and Information Design/Information Design and Technology.</blockquote>
                      <p>I'm currently a student at SUNY Polytechnic Institute, as a Junior in the Communication &amp; Information Design program. I plan on going through with the combined program for a Masters in Information Design and Technology.</p>
                      <p>My degree is geared more toward design even though I personally prefer development more. Design comes more naturally to me, though, so I feel more confident getting a degree in it. Design is also 50% of the job I want, so it doesn't hurt to find areas that I excell in and focus on working with those.</p>
                      <p>I love programming. Specifically, web programming. I'm not the hugest fan of some of the more traditional Computer Science concepts, such as data structures, trees, hashes, graph theory, sorting, and so on, as I've found them harder to learn than what's typically needed for web programming. I am interested in tools such as io.js and Rails; I prefer JavaScript as a tool for just about everything, and am willing to learn Ruby and its associated frameworks since it's so pervasive. Python, C, C++, Java, and so on are not within my scope of interest, especially not in an academic setting.</p>

                  </section>
                  <section class="wiaItem clearfix">
                      <h2 class="tlh"><span>I'm</span> <span>a</span> <span>delicate</span> <span>designer</span></h2>
                      <blockquote class='left'>Why settle for mediocrity when there is so much more available with just a little effort?</blockquote>
                      <p>I'm interested in design. I like to see beautiful websites, but I love to <em>create</em> them. My goal is to always create a superb piece of work. There's no room for visual errors when all it takes to prevent them is a little bit of my time. Why settle for mediocrity when there is so much more available with just a little effort?</p>
                      <p>I'm very interested in interpreting others' designs. I try to understand the process that went on while the designer was creating a piece, and what decisions led to each facet of the finished product. I learn from what the designer did, and try to apply it to my experience to better the end product of my labor whenever I can.</p>
                      </section>
                      <section class="wiaItem clearfix">
                      <h2 class='tlh'><span>I'm</span> <span>a</span> <span>careful</span> <span>coder</span></h2>
                      <blockquote class='right'>Design and development are part of the whole, and the whole is what I want to create.</blockquote>
                      <p>I love to develop--to code--exactly as much as I love to design. The two are inseparable to me, and it's hard to imagine how others focus on only server-size programming, or only visual design. There's no separation between the two to me. Design and development are part of the whole, and the whole is what I want to create.</p>
                      <p>Like my designs, I try to learn from anywhere I can. I always take a look at how a certain effect was created with CSS or JavaScript when one appeals to me. I always try to understand the logic and functionality behind an open-source project that I'm interested in, or am going to use. There is definitely a finite amount of places you can learn from, but there is too much for one person to take in within their lifetime--there's no end to the knowledge and kindness that's available for free on the Internet, in a book, or from a conversation.</p>
                      </section>
                      <section class="wiaItem clearfix">
                      <h2 class='tlh'><span>I'm</span> <span>a</span> <span>wonderful</span> <span>writer</span></h2>
                      <blockquote class='left'>It feels really good to express my thoughts though a medium that allows me to guide how other people think ...</blockquote>
                      <p>Writing is something I love to do. It feels really good to express my thoughts though a medium that allows me to guide how other people think about topics I'm interested in. I can never write enough about design, or code, or protocols, or issues, or whatever else you can think of within the scope of design and development. There's no end to it, and I couldn't be happier about that.</p>
                      <p>Writing is a style of living to me. Nearly one-hundred percent of our culture has lost its ability to write with proper syntax and grammar. This is okay with most people. I don't care what other people do, but I want to express myself through words in the way they were constructed to be used, not some amalgamation of what teens of the '00s thought was best. There's never going to be an objectively bad result from writing correctly, but there <em>is</em>, eventually, going to be one from writing incorrectly. I never want to be part of the illiterate culture that has gripped people my age.</p>
                  </section>
              </section>
          </section>
          <section class="contact">
              <h1 class="tlh"><span>Get</span> <span>In</span> <span>Touch</span></h1>
              <section class="socialSec half inline ">
                  <h2 class="right">Contact me on Social Media</h2>
                      <ul class="right clearfix">
                          <li class="right clearfix"><a href="http://bnb.im/blog.html"  class="blog"><i class="fa fa-paragraph"></i> My Blog</a></li>
                          <li class="right clearfix"><a href="https://bnb.cupcake.is" class="tent"><i class="fa fa-chevron-up"></i> My Entity</a></li>
                          <li class="right clearfix"><a href="https://github.com/bnb" class="gh"><i class="fa fa-github-alt"></i>My GitHub</a></li>
                          <li class="right clearfix"><a href="https://keybase.io/bang" class="kb"><i class="fa fa-eye-slash"></i>  My Keybase</a></li>
                      </ul>
              </section>
              <section class="formSec half inline">
                  <h2 class="left">Send me a message</h2>
                  <form action="mailto:hello@bnb.im">
                      <input type="text" name="name" placeholder="Name" class="clearfix" required>
                      <input type="email" pattern="[^ @]*@[^ @]*" value="" placeholder="Email" class="clearfix" required>
                      <input type="url" value="" placeholder="Website" class="clearfix">
                      <textarea name="message" placeholder="Message" class="clearfix" required rows="5"></textarea>
                      <input type="submit" value="Send it!" class="clearfix">
                  </form>
              </section>
          </section>
          <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
          <script type="text/javascript" src="./assets/js/jquery.typetype.min.js"></script>
          <script type="text/javascript" src="./assets/js/jquery.color.min.js"></script>

          <script type="text/javascript" src="./assets/js/main.js"></script>

        </div>
    </div>
</body>
